<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateSectionController</servlet-name>
        <servlet-class>Controller.CreateSectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLessonController</servlet-name>
        <servlet-class>Controller.UpdateLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLesson</servlet-name>
        <servlet-class>Controller.DeleteLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizController</servlet-name>
        <servlet-class>Controller.CreateQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>Controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawController</servlet-name>
        <servlet-class>Controller.WithdrawController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizQuestionController</servlet-name>
        <servlet-class>Controller.QuizQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>Controller.ManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeCommentController</servlet-name>
        <servlet-class>Controller.LikeCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>Controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCommentController</servlet-name>
        <servlet-class>Controller.ManageCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCoursePreviewController</servlet-name>
        <servlet-class>Controller.CreateCoursePreviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseController</servlet-name>
        <servlet-class>Controller.CreateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCourseController</servlet-name>
        <servlet-class>Controller.AdminManageCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultReviewController</servlet-name>
        <servlet-class>Controller.QuizResultReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizController</servlet-name>
        <servlet-class>Controller.DoQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testserasdfs</servlet-name>
        <servlet-class>Controller.testserasdfs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogController</servlet-name>
        <servlet-class>Controller.CreateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageBlogController</servlet-name>
        <servlet-class>Controller.AdminManageBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogController</servlet-name>
        <servlet-class>Controller.UpdateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultController</servlet-name>
        <servlet-class>Controller.QuizResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controller.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBlog</servlet-name>
        <servlet-class>Controller.FilterBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>Controller.ResetController.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Controller.ResetController.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginController</servlet-name>
        <servlet-class>Controller.GoogleLoginController.GoogleLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCourseController</servlet-name>
        <servlet-class>Controller.UserCourse.UserCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollController</servlet-name>
        <servlet-class>Controller.EnrollController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnenrollController</servlet-name>
        <servlet-class>Controller.UnenrollController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLesson</servlet-name>
        <servlet-class>Controller.AddLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostVideoCommentController</servlet-name>
        <servlet-class>Controller.PostVideoCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorDashboardController</servlet-name>
        <servlet-class>Controller.MentorDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileDetailsController</servlet-name>
        <servlet-class>Controller.ProfileDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm_ReCharge</servlet-name>
        <servlet-class>MyVNP.Confirm_ReCharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>MyVNP.Config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>MyVNP.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>MyVNP.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>MyVNP.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>Controller.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>Controller.addcart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginController</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AvatarUpdate</servlet-name>
        <servlet-class>Controller.AvatarUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseController</servlet-name>
        <servlet-class>Controller.UpdateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSectionController</servlet-name>
        <servlet-class>Controller.UpdateSectionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeMentorController</servlet-name>
        <servlet-class>Controller.BecomeMentorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountProfile</servlet-name>
        <servlet-class>Controller.AccountProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountProfile</servlet-name>
        <url-pattern>/AccountProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeMentorController</servlet-name>
        <url-pattern>/becomementor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarUpdate</servlet-name>
        <url-pattern>/avatarupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseController</servlet-name>
        <url-pattern>/updatecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSectionController</servlet-name>
        <url-pattern>/updatesection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCourseController</servlet-name>
        <url-pattern>/mycourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollController</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnenrollController</servlet-name>
        <url-pattern>/unenroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLesson</servlet-name>
        <url-pattern>/AddLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostVideoCommentController</servlet-name>
        <url-pattern>/postvideocomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorDashboardController</servlet-name>
        <url-pattern>/mentordashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseController</servlet-name>
        <url-pattern>/CreateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSectionController</servlet-name>
        <url-pattern>/CreateSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLessonController</servlet-name>
        <url-pattern>/updatelesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLesson</servlet-name>
        <url-pattern>/deletelesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizController</servlet-name>
        <url-pattern>/CreateQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admindashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawController</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizQuestionController</servlet-name>
        <url-pattern>/QuizQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/manageaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeCommentController</servlet-name>
        <url-pattern>/LikeComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCommentController</servlet-name>
        <url-pattern>/managecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCoursePreviewController</servlet-name>
        <url-pattern>/CreateCoursePreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCourseController</servlet-name>
        <url-pattern>/AdminManageCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResultReviewController</servlet-name>
        <url-pattern>/quizresultreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizController</servlet-name>
        <url-pattern>/DoQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testserasdfs</servlet-name>
        <url-pattern>/testserasdfs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogController</servlet-name>
        <url-pattern>/createblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageBlogController</servlet-name>
        <url-pattern>/AdminManageBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogController</servlet-name>
        <url-pattern>/updateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResultController</servlet-name>
        <url-pattern>/quizresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBlog</servlet-name>
        <url-pattern>/filterblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileDetailsController</servlet-name>
        <url-pattern>/profiledetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm_ReCharge</servlet-name>
        <url-pattern>/Confirm_ReCharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/Config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
