USE [ShopeBee]
GO
/****** Object:  FullTextCatalog [catlog]    Script Date: 12/11/2022 1:26:01 PM ******/
CREATE FULLTEXT CATALOG [catlog] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  FullTextCatalog [product_catlog]    Script Date: 12/11/2022 1:26:01 PM ******/
CREATE FULLTEXT CATALOG [product_catlog] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[gmail_Account] [nvarchar](100) NOT NULL,
	[type_account] [nvarchar](max) NULL,
	[password_account] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[gmail_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_info]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_info](
	[gmail_Account] [nvarchar](100) NOT NULL,
	[Fname] [nvarchar](max) NULL,
	[Lname] [nvarchar](max) NULL,
	[gender] [nvarchar](max) NULL,
	[balance] [money] NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[img] [image] NULL,
	[create_date_account] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[gmail_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address_Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address_Account](
	[gmail_Account] [nvarchar](100) NULL,
	[ID_City_Address] [nvarchar](100) NULL,
	[ID_District_Address] [nvarchar](100) NULL,
	[Street_Address] [nvarchar](max) NULL,
	[id_Address_Account] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Address_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id_product] [int] NULL,
	[amount] [int] NULL,
	[gmail_Account] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories_product]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories_product](
	[id_categories] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City_Address]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City_Address](
	[ID_City_Address] [nvarchar](100) NOT NULL,
	[Name_City_Address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_City_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commentItems]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commentItems](
	[id_product] [int] NULL,
	[gmail_Account] [nvarchar](100) NULL,
	[comment] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL,
	[grade] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District_Address]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District_Address](
	[ID_City_Address] [nvarchar](100) NULL,
	[ID_District_Address] [nvarchar](100) NULL,
	[Name_District_Address] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historysearch]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historysearch](
	[gmail_Account] [nvarchar](100) NULL,
	[content] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_product]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_product](
	[Id_order] [nvarchar](64) NOT NULL,
	[gmail_Account_sell] [nvarchar](100) NULL,
	[gmail_Account_buy] [nvarchar](100) NULL,
	[orderdate_order_product] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_product_details]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_product_details](
	[Id_order] [nvarchar](64) NULL,
	[id_product] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[id_categories] [int] NULL,
	[gmail_Account] [nvarchar](100) NULL,
	[name_product] [nvarchar](max) NULL,
	[value_product_unit] [nvarchar](max) NULL,
	[value_product_perunit] [money] NULL,
	[amount_product] [nvarchar](max) NULL,
	[create_date_product] [nvarchar](max) NULL,
	[img] [image] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ship_info]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship_info](
	[id_Ship_info] [int] IDENTITY(1,1) NOT NULL,
	[Id_order] [nvarchar](64) NULL,
	[RequiredDate_Ship_info] [nvarchar](max) NULL,
	[ShippedDate_Ship_info] [nvarchar](max) NULL,
	[Shipfee_Ship_info] [nvarchar](max) NULL,
	[ShipAddress_Ship_info] [nvarchar](max) NULL,
	[ShipCity_Ship_info] [nvarchar](max) NULL,
	[ShipRegion_Ship_info] [nvarchar](max) NULL,
	[ShipPostalCode_Ship_info] [nvarchar](max) NULL,
	[Shipped_Ship_info] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Ship_info] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([gmail_Account], [type_account], [password_account]) VALUES (N'bsd03rd@gmail.com', N'admin', N'09dcb3f904a309bd5db0b58ee0088737810cf3a7b5c19dc3cd5328543f8c6954')
INSERT [dbo].[Account] ([gmail_Account], [type_account], [password_account]) VALUES (N'bsd04rd@gmail.com', N'user', N'09dcb3f904a309bd5db0b58ee0088737810cf3a7b5c19dc3cd5328543f8c6954')
INSERT [dbo].[Account] ([gmail_Account], [type_account], [password_account]) VALUES (N'bsd05rd@gmail.com', N'user', N'09dcb3f904a309bd5db0b58ee0088737810cf3a7b5c19dc3cd5328543f8c6954')
GO
SET IDENTITY_INSERT [dbo].[Address_Account] ON 

INSERT [dbo].[Address_Account] ([gmail_Account], [ID_City_Address], [ID_District_Address], [Street_Address], [id_Address_Account]) VALUES (N'bsd04rd@gmail.com', N'HN', N'TX', N'q2e', 1)
INSERT [dbo].[Address_Account] ([gmail_Account], [ID_City_Address], [ID_District_Address], [Street_Address], [id_Address_Account]) VALUES (N'bsd05rd@gmail.com', N'HN', N'TX', N'123', 2)
SET IDENTITY_INSERT [dbo].[Address_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[categories_product] ON 

INSERT [dbo].[categories_product] ([id_categories], [CategoryName], [Description]) VALUES (12, N'Beginner', N'Khóa học dành cho người mới bắt đầu')
INSERT [dbo].[categories_product] ([id_categories], [CategoryName], [Description]) VALUES (13, N'Basic', N'Khóa học cơ bản dành cho người mới bắt đầu')
INSERT [dbo].[categories_product] ([id_categories], [CategoryName], [Description]) VALUES (14, N'Advance', N'Khóa học nâng cao ')
SET IDENTITY_INSERT [dbo].[categories_product] OFF
GO
INSERT [dbo].[City_Address] ([ID_City_Address], [Name_City_Address]) VALUES (N'DN', N'Đà Nẵng')
INSERT [dbo].[City_Address] ([ID_City_Address], [Name_City_Address]) VALUES (N'HCM', N'Hồ Chí Minh')
INSERT [dbo].[City_Address] ([ID_City_Address], [Name_City_Address]) VALUES (N'HN', N'Hà Nội')
GO
INSERT [dbo].[District_Address] ([ID_City_Address], [ID_District_Address], [Name_District_Address]) VALUES (N'HN', N'TX', N'Thanh Xuân')
INSERT [dbo].[District_Address] ([ID_City_Address], [ID_District_Address], [Name_District_Address]) VALUES (N'HN', N'TX', N'Đống Đa')
INSERT [dbo].[District_Address] ([ID_City_Address], [ID_District_Address], [Name_District_Address]) VALUES (N'HCM', N'Q1', N'Quận 1')
GO
INSERT [dbo].[historysearch] ([gmail_Account], [content], [date]) VALUES (N'bsd03rd@gmail.com', N'g', N'2022/12/09 20:50:04')
INSERT [dbo].[historysearch] ([gmail_Account], [content], [date]) VALUES (N'bsd03rd@gmail.com', N'h', N'2022/12/09 20:50:59')
INSERT [dbo].[historysearch] ([gmail_Account], [content], [date]) VALUES (N'bsd03rd@gmail.com', N'e', N'2022/12/09 20:57:18')
GO
INSERT [dbo].[Order_product] ([Id_order], [gmail_Account_sell], [gmail_Account_buy], [orderdate_order_product]) VALUES (N'21f1c0e87c9e3867c22d241101619eba26841da1ac69742424357b27d70bacea', N'bsd03rd@gmail.com', N'bsd04rd@gmail.com', N'2022/12/11 13:24:11')
INSERT [dbo].[Order_product] ([Id_order], [gmail_Account_sell], [gmail_Account_buy], [orderdate_order_product]) VALUES (N'5454124a4d3ba73a77430b4031c97b92dff2e88bf0de5d28a31c87951fbebaf9', N'bsd03rd@gmail.com', N'bsd04rd@gmail.com', N'2022/12/11 13:18:14')
INSERT [dbo].[Order_product] ([Id_order], [gmail_Account_sell], [gmail_Account_buy], [orderdate_order_product]) VALUES (N'570d2e9c5fb5754c1e6ca58252a1898463d058c7d9f45333e92ee8a8032641b9', N'bsd03rd@gmail.com', N'bsd05rd@gmail.com', N'2022/12/10 19:57:01')
GO
SET IDENTITY_INSERT [dbo].[Ship_info] ON 

INSERT [dbo].[Ship_info] ([id_Ship_info], [Id_order], [RequiredDate_Ship_info], [ShippedDate_Ship_info], [Shipfee_Ship_info], [ShipAddress_Ship_info], [ShipCity_Ship_info], [ShipRegion_Ship_info], [ShipPostalCode_Ship_info], [Shipped_Ship_info]) VALUES (1, N'c41c324334484e979d7b1049e0d0e1e60731f06ff4323f5903d0b5854d558a90', N'2022/12/16 20:16:58', N'3', N'330000.0', N'q2e', N'Hà Nội', N'Thanh Xuân', N'0', N'0')
INSERT [dbo].[Ship_info] ([id_Ship_info], [Id_order], [RequiredDate_Ship_info], [ShippedDate_Ship_info], [Shipfee_Ship_info], [ShipAddress_Ship_info], [ShipCity_Ship_info], [ShipRegion_Ship_info], [ShipPostalCode_Ship_info], [Shipped_Ship_info]) VALUES (2, N'570d2e9c5fb5754c1e6ca58252a1898463d058c7d9f45333e92ee8a8032641b9', N'2022/12/17 19:57:01', N'2', N'250000.0', N'123', N'Hà Nội', N'Thanh Xuân', N'0', N'0')
INSERT [dbo].[Ship_info] ([id_Ship_info], [Id_order], [RequiredDate_Ship_info], [ShippedDate_Ship_info], [Shipfee_Ship_info], [ShipAddress_Ship_info], [ShipCity_Ship_info], [ShipRegion_Ship_info], [ShipPostalCode_Ship_info], [Shipped_Ship_info]) VALUES (3, N'edd45daf5ecad5f66333a486d55445b6394a5806074ace143d6d28cb1e46658c', N'2022/12/18 13:06:11', N'3', N'530000.0', N'q2e', N'Hà Nội', N'Thanh Xuân', N'0', N'0')
SET IDENTITY_INSERT [dbo].[Ship_info] OFF
GO
ALTER TABLE [dbo].[Account_info]  WITH CHECK ADD  CONSTRAINT [Account_info_forgein] FOREIGN KEY([gmail_Account])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[Account_info] CHECK CONSTRAINT [Account_info_forgein]
GO
ALTER TABLE [dbo].[Address_Account]  WITH CHECK ADD  CONSTRAINT [Address_Seller_FOREIGN] FOREIGN KEY([gmail_Account])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[Address_Account] CHECK CONSTRAINT [Address_Seller_FOREIGN]
GO
ALTER TABLE [dbo].[Address_Account]  WITH CHECK ADD  CONSTRAINT [City_Address_Seller__FOREIGN] FOREIGN KEY([ID_City_Address])
REFERENCES [dbo].[City_Address] ([ID_City_Address])
GO
ALTER TABLE [dbo].[Address_Account] CHECK CONSTRAINT [City_Address_Seller__FOREIGN]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [gmail_Account_Cart] FOREIGN KEY([gmail_Account])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [gmail_Account_Cart]
GO
ALTER TABLE [dbo].[commentItems]  WITH NOCHECK ADD  CONSTRAINT [commentItems_id_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[commentItems] NOCHECK CONSTRAINT [commentItems_id_product]
GO
ALTER TABLE [dbo].[commentItems]  WITH CHECK ADD  CONSTRAINT [gmail_Account_commentItems_FOREIGN] FOREIGN KEY([gmail_Account])
REFERENCES [dbo].[Account] ([gmail_Account])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[commentItems] CHECK CONSTRAINT [gmail_Account_commentItems_FOREIGN]
GO
ALTER TABLE [dbo].[District_Address]  WITH CHECK ADD  CONSTRAINT [District_Address_FOREIGN] FOREIGN KEY([ID_City_Address])
REFERENCES [dbo].[City_Address] ([ID_City_Address])
GO
ALTER TABLE [dbo].[District_Address] CHECK CONSTRAINT [District_Address_FOREIGN]
GO
ALTER TABLE [dbo].[historysearch]  WITH CHECK ADD  CONSTRAINT [gmail_Account_historysearch_FOREIGN] FOREIGN KEY([gmail_Account])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[historysearch] CHECK CONSTRAINT [gmail_Account_historysearch_FOREIGN]
GO
ALTER TABLE [dbo].[Order_product]  WITH CHECK ADD  CONSTRAINT [gmail_Account_buy_FOREIGN] FOREIGN KEY([gmail_Account_buy])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[Order_product] CHECK CONSTRAINT [gmail_Account_buy_FOREIGN]
GO
ALTER TABLE [dbo].[Order_product]  WITH CHECK ADD  CONSTRAINT [gmail_Account_sell_FOREIGN] FOREIGN KEY([gmail_Account_sell])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[Order_product] CHECK CONSTRAINT [gmail_Account_sell_FOREIGN]
GO
ALTER TABLE [dbo].[Order_product_details]  WITH CHECK ADD  CONSTRAINT [FK_Order_product_details_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_product_details] CHECK CONSTRAINT [FK_Order_product_details_product]
GO
ALTER TABLE [dbo].[Order_product_details]  WITH CHECK ADD  CONSTRAINT [OrderDetails_id_Order_PrimaryKey] FOREIGN KEY([Id_order])
REFERENCES [dbo].[Order_product] ([Id_order])
GO
ALTER TABLE [dbo].[Order_product_details] CHECK CONSTRAINT [OrderDetails_id_Order_PrimaryKey]
GO
ALTER TABLE [dbo].[product]  WITH NOCHECK ADD  CONSTRAINT [gmail_Account_FOREIGN] FOREIGN KEY([gmail_Account])
REFERENCES [dbo].[Account] ([gmail_Account])
GO
ALTER TABLE [dbo].[product] NOCHECK CONSTRAINT [gmail_Account_FOREIGN]
GO
ALTER TABLE [dbo].[product]  WITH NOCHECK ADD  CONSTRAINT [product_seller_FOREIGN] FOREIGN KEY([id_categories])
REFERENCES [dbo].[categories_product] ([id_categories])
GO
ALTER TABLE [dbo].[product] NOCHECK CONSTRAINT [product_seller_FOREIGN]
GO
ALTER TABLE [dbo].[Ship_info]  WITH CHECK ADD  CONSTRAINT [Ship_info_FOREIGN] FOREIGN KEY([Id_order])
REFERENCES [dbo].[Order_product] ([Id_order])
GO
ALTER TABLE [dbo].[Ship_info] CHECK CONSTRAINT [Ship_info_FOREIGN]
GO
/****** Object:  StoredProcedure [dbo].[Add_Adress_Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Add_Adress_Account]
@gmail_Account nvarchar(100),
@ID_City_Address nvarchar(100),
@ID_District_Address nvarchar(100),
@Street_Address nvarchar(max)
as
insert into Address_Account(gmail_Account,ID_City_Address,ID_District_Address,Street_Address) values(@gmail_Account,@ID_City_Address,@ID_District_Address,@Street_Address)
GO
/****** Object:  StoredProcedure [dbo].[Add_info_Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Add_info_Account]
@gmail_Account nvarchar(100),
@Fname nvarchar(max),
@Lname nvarchar(max),
@gender nvarchar(max),
@PhoneNumber nvarchar(max),
@balance money,
@img image,
@create_date_account nvarchar(max)
as
insert into Account_info(gmail_Account,Fname,Lname,gender,PhoneNumber,balance,img,create_date_account)
				values(@gmail_Account,@Fname,@Lname,@gender,@PhoneNumber,@balance,@img,@create_date_account) 
GO
/****** Object:  StoredProcedure [dbo].[Delete_Adress_Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_Adress_Account]
@gmail_Account nvarchar(100),
@ID_City_Address nvarchar(100),
@ID_District_Address nvarchar(100),
@Street_Address nvarchar(max)
as
delete  Address_Account  where gmail_Account = @gmail_Account 
and ID_City_Address=@ID_City_Address and ID_District_Address=@ID_District_Address 
and Street_Address=@Street_Address
GO
/****** Object:  StoredProcedure [dbo].[insert_Order_details]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_Order_details]
@Id_order nvarchar(100),
@id_product nvarchar(100)
as
insert into Order_product_details(Id_order,id_product) values(@Id_order,@id_product)
GO
/****** Object:  StoredProcedure [dbo].[insert_Order_product]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_Order_product]
@gmail_Account_sell nvarchar(100),
@gmail_Account_buy nvarchar(100),
@orderdate_order_product nvarchar(max)
as
insert into Order_product(gmail_Account_sell,gmail_Account_buy,orderdate_order_product)
values(@gmail_Account_sell,@gmail_Account_buy,@orderdate_order_product)
GO
/****** Object:  StoredProcedure [dbo].[insert_Product]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_Product]
@gmail_Account nvarchar(100),
@id_categories nvarchar(100),
@name_product nvarchar(max),
@value_product_unit nvarchar(max),
@value_product_perunit money,
@amount_product nvarchar(max),
@create_date_product nvarchar(max),
@img image,
@description nvarchar(max)
as
insert into product(gmail_Account,id_categories,name_product,
value_product_unit,value_product_perunit,amount_product,create_date_product,img,[description])
values(@gmail_Account,@id_categories,@name_product,
@value_product_unit,@value_product_perunit,@amount_product,@create_date_product,@img,@description)
GO
/****** Object:  StoredProcedure [dbo].[insert_Ship_info]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_Ship_info]
@Id_order nvarchar(100),
@RequiredDate_Ship_info nvarchar(max),
@ShipAddress_Ship_info nvarchar(max),
@ShipCity_Ship_info nvarchar(max),
@ShipRegion_Ship_info nvarchar(max),
@Shipfee_Ship_info nvarchar(max),
@Shipped_Ship_info nvarchar(max),
@ShippedDate_Ship_info nvarchar(max),
@ShipPostalCode_Ship_info nvarchar(max)
as
insert into Ship_info(Id_order,RequiredDate_Ship_info,
ShipAddress_Ship_info,ShipCity_Ship_info,ShipRegion_Ship_info,Shipfee_Ship_info,
Shipped_Ship_info,ShippedDate_Ship_info,ShipPostalCode_Ship_info)
values(@Id_order,@RequiredDate_Ship_info,@ShipAddress_Ship_info,
@ShipCity_Ship_info,@ShipRegion_Ship_info,@Shipfee_Ship_info,@Shipped_Ship_info,@ShippedDate_Ship_info,@ShipPostalCode_Ship_info)
GO
/****** Object:  StoredProcedure [dbo].[Pay_Order]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Pay_Order]
@Id_order nvarchar(100)
as

update Account_info
set balance=(select balance from Account_info where gmail_Account like (select gmail_Account_buy from Order_product where Id_order like @Id_order))-(select Ship_info.Shipfee_Ship_info from Ship_info where  Id_order like @Id_order)
where gmail_Account like (select gmail_Account_buy from Order_product where Id_order like @Id_order)

update Account_info
set balance=(select balance from Account_info where gmail_Account like (select gmail_Account_sell from Order_product where Id_order like @Id_order))+(select Ship_info.Shipfee_Ship_info from Ship_info where  Id_order like @Id_order)
where gmail_Account like (select gmail_Account_sell from Order_product where Id_order like @Id_order)
GO
/****** Object:  StoredProcedure [dbo].[Register_Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Register_Account]
@gmail_Account nvarchar(100),
@password_account nvarchar(max),
@type_account nvarchar(max)
as
insert into Account(gmail_Account,password_account,type_account) values(@gmail_Account,@password_account,@type_account)
GO
/****** Object:  StoredProcedure [dbo].[Update_info_Account]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_info_Account]
@gmail_Account nvarchar(100),
@Fname nvarchar(max),
@Lname nvarchar(max),
@gender nvarchar(max),
@PhoneNumber nvarchar(max),
@img image
as
UPDATE Account_info SET Fname=@Fname,Lname=@Lname,gender=@gender,
PhoneNumber=@PhoneNumber,img=@img
where gmail_Account=@gmail_Account
GO
/****** Object:  StoredProcedure [dbo].[update_Product]    Script Date: 12/11/2022 1:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_Product]
@gmail_Account nvarchar(100),
@id_product nvarchar(100),
@id_categories nvarchar(100),
@name_product nvarchar(max),
@value_product_unit nvarchar(max),
@value_product_perunit money,
@amount_product nvarchar(max),
@img image,
@description nvarchar(max)
as
UPDATE product 
SET 
id_categories=@id_categories,
name_product=@name_product,
value_product_perunit=@value_product_perunit,
value_product_unit=@value_product_unit,
amount_product=@amount_product,
img=@img,
[description] = @description
where gmail_Account=@gmail_Account and  id_product=@id_product
GO
