USE [SWP391]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](200) NULL,
	[password] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[DateCreate] [datetime] NULL,
	[AuthorID] [int] NOT NULL,
	[Category] [nvarchar](200) NULL,
	[NumberEnrolled] [int] NOT NULL,
	[CoursePrice] [real] NULL,
	[CourseImage] [text] NULL,
	[Status] [nchar](10) NOT NULL,
	[Description] [ntext] NULL,
	[Objectives] [ntext] NULL,
	[Difficulty] [nchar](10) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[SectionID] [int] NOT NULL,
	[LessonName] [nvarchar](200) NULL,
	[isDisable] [bit] NOT NULL,
	[types] [varchar](10) NULL,
	[Time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[mid] [nvarchar](200) NULL,
	[title] [nvarchar](200) NULL,
	[date] [nvarchar](200) NULL,
	[createby] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NoticeContent] [ntext] NULL,
	[NoticeDate] [datetime] NULL,
	[isSeen] [bit] NOT NULL,
	[Action] [nvarchar](50) NULL,
 CONSTRAINT [PK__Notifica__CE83CB8594AD468F] PRIMARY KEY CLUSTERED 
(
	[NoticeID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recharge]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recharge](
	[RechargeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RechargeDate] [datetime] NULL,
	[Amount] [int] NULL,
	[Status] [int] NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](50) NULL,
 CONSTRAINT [PK__Recharge__C5894516ACF264DD] PRIMARY KEY CLUSTERED 
(
	[RechargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[SectionName] [nvarchar](200) NULL,
	[isDisable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DoB] [date] NULL,
	[PostCode] [varchar](10) NULL,
	[Balance] [int] NULL,
	[Avatar] [text] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](64) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[BankNumber] [varchar](20) NULL,
	[BankName] [nvarchar](50) NULL,
	[isDisable] [bit] NOT NULL,
 CONSTRAINT [PK__User__1788CCACC5C4F906] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[isStudied] [bit] NOT NULL,
	[CourseRating] [int] NULL,
	[CourseFeedback] [ntext] NULL,
	[Progress] [real] NULL,
	[Paydate] [datetime] NULL,
	[isFavourite] [bit] NULL,
 CONSTRAINT [PK__User_Cou__7B1A1BB4D6DDFF75] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password]) VALUES (N'admin', N'admin')
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([LessonID], [SectionID], [LessonName], [isDisable], [types], [Time]) VALUES (5, 2, N'1. Mô hình Client-Server là gì ?', 0, N'Video', 695000)
INSERT [dbo].[Lesson] ([LessonID], [SectionID], [LessonName], [isDisable], [types], [Time]) VALUES (6, 2, N'2. Domain là gì? Tên miền là gì ?', 0, N'Video', 633000)
INSERT [dbo].[Lesson] ([LessonID], [SectionID], [LessonName], [isDisable], [types], [Time]) VALUES (8, 3, N'3. Học IT cần tố chất gì? Góc nhìn khác từ chiên gia định hướng giáo dục', 0, N'Docs', 60000)
GO
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NoticeID], [UserID], [NoticeContent], [NoticeDate], [isSeen], [Action]) VALUES (2, 4, N'Khóa học Kiến Thức Nhập Môn IT của bạn đã được duyệt', CAST(N'2022-10-30T15:11:49.943' AS DateTime), 0, N'Verify 1                                          ')
INSERT [dbo].[Notification] ([NoticeID], [UserID], [NoticeContent], [NoticeDate], [isSeen], [Action]) VALUES (4, 1, N'Cảm ơn bạn đã tham gia khóa học Kiến Thức Nhập Môn IT', CAST(N'2022-10-30T15:14:13.180' AS DateTime), 1, N'Enroll 1                                          ')
INSERT [dbo].[Notification] ([NoticeID], [UserID], [NoticeContent], [NoticeDate], [isSeen], [Action]) VALUES (5, 4, N'Khóa học Kiến Thức Nhập Môn IT của bạn đã được duyệt', CAST(N'2022-10-30T15:14:13.200' AS DateTime), 0, N'Verify 1                                          ')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Recharge] ON 

INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeDate], [Amount], [Status], [Method], [Content]) VALUES (1, 4, CAST(N'2022-10-16T11:55:14.683' AS DateTime), -100, 0, N'Buy', N'Buy course Hieu Shin dep trai')
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeDate], [Amount], [Status], [Method], [Content]) VALUES (2, 4, CAST(N'2022-10-16T11:57:53.977' AS DateTime), -100, 0, N'Buy', N'Buy course Hieu Shin dep trai')
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeDate], [Amount], [Status], [Method], [Content]) VALUES (3, 4, CAST(N'2022-10-16T17:35:02.450' AS DateTime), -100, 0, N'Buy', N'Buy course Hieu Shin dep trai')
SET IDENTITY_INSERT [dbo].[Recharge] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([SectionID], [CourseID], [SectionName], [isDisable]) VALUES (2, 1, N'1. Khái niệm kỹ thuật cần biết', 0)
INSERT [dbo].[Section] ([SectionID], [CourseID], [SectionName], [isDisable]) VALUES (3, 1, N'2. Môi trường, con người IT', 0)
INSERT [dbo].[Section] ([SectionID], [CourseID], [SectionName], [isDisable]) VALUES (4, 1, N'3. Phương pháp, định hướng', 0)
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Progress], [Paydate], [isFavourite]) VALUES (1, 1, 1, NULL, NULL, 0, NULL, 1)
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Progress], [Paydate], [isFavourite]) VALUES (1, 3, 1, 4, N'SIUUUU', NULL, NULL, 0)
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Progress], [Paydate], [isFavourite]) VALUES (1, 6, 1, NULL, NULL, 0, NULL, 1)
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FKLesson935170] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Section] ([SectionID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FKLesson935170]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Recharge]  WITH CHECK ADD  CONSTRAINT [FKRecharge738481] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recharge] CHECK CONSTRAINT [FKRecharge738481]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_Course]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Course_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FK_User_Course_Course]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FKUser_Cours401962] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FKUser_Cours401962]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_docs]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_create_docs]
	@SectionID	INT,
	@LessonName NVARCHAR(200),
	@Time int,
	@Content NTEXT
AS BEGIN
	INSERT INTO [Lesson]([SectionID], [LessonName], [isDisable], [types], [Time])
	VALUES (@SectionID, @LessonName, 0, 'Docs', @Time);

	INSERT INTO [Docs]([LessonID], [Content])
	VALUES (
		(SELECT SCOPE_IDENTITY()),
		@Content
	);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_video]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_create_video]
	@SectionID	INT,
	@LessonName NVARCHAR(200),
	@VideoName NVARCHAR(200),
	@VideoLink VARCHAR(MAX),
	@Time INT
AS BEGIN
	INSERT INTO [Lesson]([SectionID], [LessonName], [isDisable], [types], [Time])
	VALUES (@SectionID, @LessonName, 0, 'Video', @Time);

	INSERT INTO [Video]([LessonID], [VideoName], [VideoLink])
	VALUES (
		(SELECT SCOPE_IDENTITY()),
		@VideoName,
		@VideoLink
	);
END;

SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_notification]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_insert_notification]
	@UserID INT,
	@Content nvarchar(max),
	@Action nchar(50),
	@Date datetime
AS BEGIN
	INSERT INTO [dbo].[Notification]
           ([UserID]
           ,[NoticeContent]
           ,[NoticeDate]
           ,[isSeen]
           ,[Action])
     VALUES
           (@UserID
           ,@Content
           ,@Date
           ,0
           ,@Action)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_progress]    Script Date: 07/12/2022 15:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_update_progress]
	@CourseID INT,
	@UserID INT
AS BEGIN
	WITH T AS (
		SELECT [UL].[Status]
		FROM [User_Lesson] AS UL, [Lesson] AS L, [Section] AS S 
		WHERE [UL].[UserID] = @UserID AND S.[CourseID] = @CourseID AND [UL].[LessonID] = [L].[LessonID] AND [L].[SectionID] = [S].[SectionID]
	) 
	UPDATE [User_Course] 
	SET [Progress] = CAST((SELECT COUNT(0) FROM T WHERE T.[Status] = 'Done') AS REAL) * 100 / (select count(0) from Lesson l
		inner join Section s on l.SectionID = s.SectionID
		where s.CourseID = @CourseID)
	WHERE [UserID] = @UserID AND [CourseID] = @CourseID
END

GO
